.buttonList {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonList li {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 150px;
}

    .buttonList li:last-child {
        margin-bottom: 30px;
    }

.buttonList a {
    width: 100%;
}

@media (width <= 992px) {
    .buttonList li {
        margin-right: -3px;
        margin-left: -5px;
    }
    
    .buttonList li {
        width: 100%;
    }
}