.home {
  width: 90%;
  max-width: 50rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  display: block;
}

.home h1 {
  font-size: 35px;
  color: transparent;
  background: linear-gradient(90deg, #282c34, #61dafb);
  background-clip: text;
  font-weight: 900;
  margin-bottom: 0;
}

.home h2 {
  font-size: 30px;
  margin-top: 0;
  color: transparent;
  background: linear-gradient(90deg, #282c34, #61dafb);
  background-clip: text;
}

.home h3 {
  font-size: 25px;
  margin-top: 0;
  color: transparent;
  background: linear-gradient(90deg, #282c34, #61dafb);
  background-clip: text;
}

.home button {
  margin: auto;
}

.home hr {
  margin: 10px 0 30px 0;
  height: 5px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg, #282c34, #61dafb);
}

@media (width <= 600px) {
  .home h1 {
    font-size: 30px;
  }

  .home h2 {
    font-size: 20px;
    margin-top: 0;
  }
}
