.home {
  width: 90%;
  max-width: 50rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  display: block;
}

.home h1 {
  font-size: 35px;
  color: transparent;
  background: linear-gradient(90deg, #6c7cd3, #da79ee);
  background-clip: text;
  font-weight: 900;
  margin-bottom: 0;
}

.home h2 {
  font-size: 30px;
  margin-top: 0;
  color: transparent;
  background: linear-gradient(90deg, #999, #666);
  background-clip: text;
}

.home button {
  margin: auto;
}

@media (width <= 992px) {
  .home h1 {
    font-size: 30px;
  }

  .home h2 {
    font-size: 20px;
    margin-top: 0;
  }
}