.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
  display: flex;
  align-items: center;
}

@media (width <= 600px) {
  .actions {
    display: block;
    text-align: center;
  }

  .actions button {
    width: 100%;
  }
}